@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.contentor1{
 border: 1px solid red; 
 background-color: rgba(153, 205, 50, 0.39);
 color: rgb(245, 37, 0);
 text-align:center;
 position: absolute;
 top: 300px;
 display: block;
 width: 100%;
}



#lank{
  color:rgb(255, 8, 0);
  text-decoration: none;
  background-color:tan ;
  height: 50px;
  width: 100px;
  display: inline-block;
border-radius: 69px;
padding-top: 16px;
}

.card{
  margin-top: 20px;
}

.teste-carousel{
  background-color: grey;
  height: 200px;
  width: 100%;
}